@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #f44336;
  --color-overlay: rgb(244, 67, 54, 0.8);
}

section {
  padding: 0 10%;
}

/* ============HEADER============ */
#navbar {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
}

#navbar .logo {
  width: 200px;
}

#navlinks li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

#navlinks li a {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--color-white);
  position: relative;
}

#navlinks li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--color-orange);
  transform: scale(0);
  transition: all 0.5s;
}

#navlinks li a:hover::after {
  transform: scale(1);
}

#menu-icon {
  display: none;
  font-size: 30px;
  color: var(--color-white);
  cursor: pointer;
}

/* ============HOME============ */
#home {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(imagens/banner.png) center no-repeat fixed;
  background-size: cover;
}

.content-home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 1200px;
  width: 100%;
  color: var(--color-white);
}

.content-home h1 {
  font-size: 5em;
}

.content-home p {
  font-size: 1.1em;
  max-width: 800px;
  width: 100%;
  margin: 60px auto 80px;
}

.btn {
  position: relative;
  text-decoration: none;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  padding: 20px 80px;
  transition: all 0.5s;
}

.btn::after {
  content: "";
  position: absolute;
  left: -10%;
  top: 50%;
  width: 20%;
  height: 2px;
  background-color: var(--color-white);
  transition: all 0.5s;
}

.btn::before {
  content: "";
  position: absolute;
  right: -10%;
  top: 50%;
  width: 20%;
  height: 2px;
  background-color: var(--color-white);
  transition: all 0.5s;
}

.btn:hover,
.btn:hover::after,
.btn:hover::before {
  border-color: var(--color-orange);
  background-color: var(--color-orange);
}

/* ============ABOUT============ */
#about {
  min-height: 100vh;
  min-width: 100vw;
}

.header-section {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 200px;
}

.header-section h2 {
  font-size: 2.5em;
}

.content-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 30px;
  justify-content: center;
  text-align: center;
}

.card-about {
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 11px 11px 22px #cccccc, -11px -11px 22px #f4f4f4;
  cursor: pointer;
  transition: all 0.5s;
}

.card-about:hover {
  box-shadow: 11px 11px 22px #bcbcbc, -11px -11px 22px #ffffff;
}

.content-about h3 {
  margin-bottom: 10px;
  padding-top: 30px;
}

.content-about p {
  margin: auto;
  line-height: 30px;
  padding: 0 10px 30px;
}
/* ============COURSE============ */
#course {
  min-height: 100vh;
  min-width: 100vw;
}

.content-course {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 10px;
  justify-content: center;
  margin-bottom: 50px;
}

.card-course {
  position: relative;
  cursor: pointer;
}

.card-course img {
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  width: 99%;
  height: 99%;
  background: var(--color-overlay);
  opacity: 0;
  border-radius: 10px;
  transition: all 1s;
}

.text-card {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 1s;
}

.text-card h3 {
  font-size: 2em;
  color: var(--color-white);
}

.card-course:hover .overlay {
  opacity: 1;
}

.card-course:hover .text-card {
  bottom: 50%;
  opacity: 1;
}
/* ============BLOG============ */
#blog {
  min-height: 100vh;
}

.content-blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 100px;
  justify-content: center;
}

.card-blog {
  text-align: center;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 11px 11px 22px #cccccc, -11px -11px 22px #f4f4f4;
  margin-bottom: 100px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
}

.card-blog:hover {
  transform: scale(1.1);
}

.card-blog img {
  max-width: 500px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin-bottom: 20px;
}

.card-blog h3 {
  margin-bottom: 20px;
}

.card-blog p {
  margin: 0 10px 30px;
}
/* ============TESTIMONIALS============ */
#testimonials {
  min-height: 100vh;
}

.content-testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 100px;
  justify-content: center;
  padding-bottom: 200px;
}

.card-testimonials {
  display: flex;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 11px 11px 22px #cccccc, -11px -11px 22px #f4f4f4;
  cursor: pointer;
  transition: all 0.5s;
}

.card-testimonials:hover {
  box-shadow: 11px 11px 22px #bcbcbc, -11px -11px 22px #ffffff;
}

.img-box {
  margin: 30px 0 0 30px;
}

.card-testimonials .img-box img {
  width: 50px;
  border-radius: 50%;
}

.text-box {
  padding: 30px;
}

.card-testimonials .text-box p {
  text-align: justify;
  margin-bottom: 20px;
}

.card-testimonials .text-box i {
  color: var(--color-orange);
}

/* ============CONTACT============ */
#contact {
  min-height: 100vh;
  padding: 10%;
  margin-top: -100px;
}

.container-contact {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(imagens/banner2.jpg) center center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.content-contact {
  text-align: center;
  color: var(--color-white);
}

.content-contact h2 {
  font-size: 3em;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 80px;
}

/* ============FOOTER============ */
footer {
  margin-top: -100px;
}

.container-footer {
  text-align: center;
  margin-top: 100px;
  padding: 0 10%;
}

.container-footer h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.container-footer p {
  max-width: 1100px;
  width: 100%;
  margin: 30px auto;
}

.social-media i {
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.social-media i:hover {
  transform: translateY(-10px);
  color: var(--color-orange);
}
