@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color-blue: #0161B8;
    --bg-color-black: #1E1E1E;
    --bg-color-red: #E50C2D;
    --color-letters: #fff;
}

body{
    background-color: var(--bg-color-blue);
    transition: all .5s;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 7%;
}

.navbar .logo-pepsi{
    width: 100px;
    cursor: pointer;
}

.navbar li{
    display: inline-block;
    margin: 30px;
}

.navbar li a{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-letters);
    padding: 0 5px;
    position: relative;
}

.navbar li a::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--color-letters);
    transform: scale(0,1);
    transition: transform .5s;
}

.navbar li a:hover::after{
    transform: scale(1,1);
}

#sidebar{
    display: none;
    cursor: pointer;
}

.line{
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--color-letters);
    border-radius: 2px;
    margin: 5px auto;
    transition: all .5s ease-in-out;
}
/*Section*/

.conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8% 7%;
}

.conteiner .subtitulo{
    font-size: 5em;
    color: var(--color-letters);
}

.conteiner .titulo{
    font-size: 8em;
    font-weight: 900;
    line-height: 100px;
    color: var(--color-letters);
    margin-bottom: 30px;
}

.conteiner p{
    font-size: 18px;
    color:  var(--color-letters);
    margin-bottom: 40px;
}

.conteiner .btn{
    font-size: 18px;
    text-decoration: none;
    border-radius: 30px;
    background-color: var(--color-letters);
    padding: 10px 30px;
    color: #000;
}

.image{
    max-width: 400px;
    min-width: 200px;
    margin-right: -20%;
}

.image img{
    width: 100%;
}

.social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -4%;
}

.social-media i{
    font-size: 30px;
    color: var(--color-letters);
    margin: 20px 0;
    cursor: pointer;
}

/*Footer*/

#pepsi-sabores{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -7% auto;
}

#pepsi-sabores img{
    width: 50px;
    margin: 20px;
    cursor: pointer;
    transition: transform .5s;
}

#pepsi-sabores img:hover{
    transform: translateY(-10px);
}

/*Responsivo*/

@media screen and (min-width: 768px) and (max-width: 992px){
    .navbar ul{
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 100%;
        background-color: var(--color-letters);
        transition: all .5s ease-in-out;
    }

    .navbar ul li a{
        color: #000;
    }

    .navbar ul li a::after{
        background-color: #000;
    }

    #sidebar{
        display: block;
    }

    #sidebar.active #line1{
        transform: translateY(5px) rotate(135deg);
    }

    #sidebar.active #line2{
       opacity: 0;
    }

    #sidebar.active #line3{
        transform: translateY(-10px) rotate(-135deg);
    }

    .navbar.active ul{
        left: 0;
    }

    /*Section*/

    .conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .content .btn{
        text-align: right;
    }

    .image{
        margin-top: 100px;
    }   

    .social-media{
        position: absolute;
        top: 85%;
        right: 8%;
    }

    #pepsi-sabores{
        margin-top: 100px;
    }
}

@media screen and (max-width: 767px) and (min-width: 600px){
    .navbar ul{
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 100%;
        background-color: var(--color-letters);
        transition: all .5s ease-in-out;
    }

    .navbar ul li a{
        color: #000;
    }

    .navbar ul li a::after{
        background-color: #000;
    }

    #sidebar{
        display: block;
    }

    #sidebar.active #line1{
        transform: translateY(5px) rotate(135deg);
    }

    #sidebar.active #line2{
       opacity: 0;
    }

    #sidebar.active #line3{
        transform: translateY(-10px) rotate(-135deg);
    }

    .navbar.active ul{
        left: 0;
    }

    /*Section*/

    .conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .conteiner .subtitulo{
        font-size: 3em;
    }

    .conteiner .titulo{
        font-size: 6em;
    }

    .conteiner p{
        font-size: 15px;
    }

    .content .btn{
        text-align: right;
    }

    .image{
        margin-top: 100px;
    }   

    .social-media{
        position: absolute;
        top: 85%;
        right: 8%;
    }

    #pepsi-sabores{
        margin-top: 100px;
    }
}

