@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-black: #080808;
  --color-white: #fff;
  --color-pink: #ff004f;
}

body {
  background-color: var(--bg-black);
  color: var(--color-white);
}

section {
  padding: 0 10%;
}

/* ===================CONFIGURAÇÕES GLOBAIS================ */

/* ===================HEADER================ */
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
}

.logo {
  width: 150px;
  cursor: pointer;
}

#navlinks li {
  display: inline-block;
  margin: 0 30px;
  list-style-type: none;
}

#navlinks a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--color-white);
  position: relative;
}

#navlinks a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--color-pink);
  transition: width 0.5s;
}

#navlinks a:hover::after {
  width: 100%;
}

/* ===================HOME================ */
#home {
  min-height: 100vh;
  background: url(images/background.png) no-repeat fixed;
  background-size: cover;
}

.home-text {
  padding: 30% 0;
}

.home-text h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.home-text h1 {
  font-size: 5rem;
  margin-bottom: 30px;
}

.destaque {
  color: var(--color-pink);
}
/* ===================ABOUT================ */
#about {
  min-height: 100vh;
}

.container-about {
  display: grid;
  grid-template-columns: ;
}

.about-img img {
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
}

.content-about h2 {
  font-size: 4rem;
  font-weight: 600;
}
/* ===================SERVICES================ */
/* ===================PORTFOLIO================ */
/* ===================CONTACT================ */
