/* ==========CONFIGURAÇÕES GLOBAIS================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-overlay: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  --bg-color: #ffffff;
  --bg-color-header: #000;
  --second-bg-color: #f9f9f9;
  --text-color: #fff;
  --second-color: #161616;
  --main-color: #ef0454;
  --other-color: #6a6a6a;
  --big-font: 5.7rem;
  --h2-font: 3.8rem;
  --p-font: 1rem;
}

body,
html {
  scroll-behavior: smooth;
}

/* ====================HEADER==================  */

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  color: var(--text-color);
  padding: 2% 8% 0.6%;
  transition: all 0.5s;
}

#navbar.sticky {
  padding-top: 0.3%;
  background-color: var(--bg-color-header);
}

.logo {
  font-size: 2.5rem;
  cursor: pointer;
}

.destaque {
  color: var(--main-color);
}

#navbar i {
  font-size: 1.9rem;
  cursor: pointer;
  display: none;
}

#navlist li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

#navlist a {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
  padding: 0 5px;
  position: relative;
}

#navlist a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transition: all 0.5s;
}

#navlist a:hover::after {
  width: 100%;
}

.btn-header a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-white);
}

.sign-up {
  margin-right: 30px;
}

.sign-in {
  font-weight: 500;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  border-radius: 40px;
  padding: 10px 30px;
  transition: all 0.5s;
}

.sign-in:hover {
  background-color: transparent;
}

/* ====================SECTION HOME==================  */
#home {
  min-height: 100vh;
  width: 100%;
  background: url(img/background.jpg) no-repeat;
  background-size: cover;
}

.container-home {
  color: var(--text-color);
  padding: 15%;
}

.content-home {
  max-width: 800px;
  width: 100%;
  min-width: 420px;
}

.content-home h1 {
  font-size: var(--big-font);
  line-height: 120px;
}

.content-home h2 {
  margin: 10px 0 50px;
}

.btn {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-white);
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  border-radius: 40px;
  padding: 10px 30px;
  margin-bottom: 10%;
  transition: all 0.5s;
}

.btn:hover {
  transform: translateY(-10px);
  color: var(--main-color);
  background-color: transparent;
}

.data-home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.data {
  margin-right: 50px;
}

.data span {
  font-size: 2rem;
  font-weight: 600;
}
/* ====================SECTION ABOUT================== */
#about {
  min-height: 100vh;
}
/* ====================SECTION SERVICES============= */
/* ====================SECTION PORTFOLIO=============== */
/* ==================SECTION BLOG====================== */
/* ===============SECTION CONTACT==================== */
/* ==================FOOTER====================== */
/* ==================RESPONSIVO====================== */
