* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e1c1b;
}

body {
  margin: 2% 8%;
  transition: 0.3s;
}

body.dark {
  background-color: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  cursor: pointer;
}

#nav-links li {
  display: inline-block;
  margin: 20px;
}

#nav-links a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

#nav-links .icon {
  font-size: 30px;
  cursor: pointer;
}

#moon.active {
  display: none;
}

#sun {
  display: none;
}

/* --------------------------SECTION HOME------------- */

.conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.titulo {
  font-size: 5em;
  margin-bottom: 30px;
}

.titulo span {
  color: #ff4321;
}

.content p {
  font-size: 18px;
  max-width: 550px;
  width: 100%;
  margin-bottom: 50px;
}

.btn {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: #1e1c1b;
  border-radius: 15px;
  padding: 10px 30px;
}
