@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: url(banner.jpeg) no-repeat center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: (30px);
}

#form h1 {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}

.input-box {
  position: relative;
  margin: 50px;
}

#email,
#password {
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

input::placeholder {
  letter-spacing: 1px;
  color: #000;
}

.input-box i {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 20px;
}

#open-eye,
#close-eye {
  right: 30px;
  cursor: pointer;
}

#open-eye {
  display: none;
}

#email.valid {
  border-bottom-color: #008000;
}

#email.invalid {
  border-bottom-color: #ff0000;
}

#password.valid {
  border-bottom-color: #008000;
}

#password.invalid {
  border-bottom-color: #ff0000;
}

.input-box #valid {
  display: none;
  color: #008000;
}

.input-box #invalid {
  display: none;
  color: #ff0000;
}

.result {
  font-size: 18px;
  font-weight: 700;
  font-variant: small-caps;
}

#email-result.valid {
  color: #008000;
}

#email-result.invalid {
  color: #ff0000;
}
#password-result.valid {
  color: #008000;
}

#password-result.invalid {
  color: #ff0000;
}

.btn {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  border: 2px solid #fff;
  background-color: #e3a7a7;
  outline: none;
  letter-spacing: 1px;
  padding: 20px 0;
  margin-top: 10px;
  cursor: pointer;
}
