@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-padrao);
}

:root {
  --Font-destaque: "Kaushan Script", cursive;
  --font-padrao: "Poppins", sans-serif;
  --color-azul: #009688;
  --color-branca: #fff;
  --color-preta: #000;
}

html {
  scroll-behavior: smooth;
}

/* --------------------------HEADER---------------- */

#home {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #186e69),
    url(imagens/banner.jpg) center no-repeat;
  background-size: cover;
}

.header {
  padding: 2% 8%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

#nav-links {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  background-color: var(--color-azul);
  z-index: 1;
  transition: 0.5s ease;
}

#nav-links li {
  list-style-type: none;
}

#nav-links a {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-branca);
}

#menu-x {
  position: absolute;
  top: 5%;
  right: 30%;
  font-size: 30px;
  color: var(--color-branca);
  cursor: pointer;
}

#menu-hamburger {
  position: fixed;
  right: 8%;
  font-size: 30px;
  color: var(--color-branca);
  background-color: var(--color-azul);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

/* ------------------CONTENT HOME------------------ */

.home-text {
  margin-top: 10%;
}

.home-title {
  font-family: var(--Font-destaque);
  font-size: 10em;
  text-align: center;
  color: var(--color-branca);
}

.home-text p {
  font-size: 30px;
  text-align: center;
  color: var(--color-branca);
  margin-bottom: 50px;
}

.btn-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 18px;
  text-decoration: none;
  border: 1px solid var(--color-branca);
  color: var(--color-branca);
  padding: 10px 20px;
  margin: 20px;
  position: relative;
  z-index: 1;
  transition: 1s;
}

.btn:hover {
  color: var(--color-preta);
}

.btn span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--color-branca);
  z-index: -1;
  transition: 1s;
}

.btn:hover span {
  width: 100%;
}

/* ---------------SECTION FEATURES---------------- */

#features {
  width: 100%;
  padding: 70px 0;
  min-height: 100vh;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.logo-content {
  display: inline-block;
  font-family: var(--font-padrao);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--color-azul);
  margin: 100px auto 40px;
  position: relative;
  z-index: 1;
}

.logo-content::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 50px;
  height: 35px;
  background: linear-gradient(var(--color-azul), var(--color-branca));
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  z-index: -1;
}

.title-content {
  font-size: 4em;
  font-weight: 600;
}

.features-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: auto;
}

.features {
  flex-basis: 50%;
}

.features h3 {
  font-weight: 400;
  text-align: left;
  color: var(--color-azul);
  margin-bottom: 10px;
}

.features-desc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.features-icon i {
  font-size: 30px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  color: var(--color-azul);
  border: 1px solid var(--color-azul);
  border-radius: 8px;
}

.features-text p {
  max-width: 600px;
  width: 100%;
  padding: 0 20px;
  text-align: initial;
}

.features-img {
  flex-basis: 50%;
  margin: auto;
}

.features-img img {
  width: 70%;
  border-radius: 10px;
}

/* ---------------SECTION SERVICES----------------- */

#services {
  width: 100%;
  padding: 70px 0;
  min-height: 100vh;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  text-align: center;
  color: #fff;
  width: 700px;
  margin: 0 15px 20px;
  cursor: pointer;
  position: relative;
  transition: 1s;
}

.cards img {
  width: 100%;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  height: 99.1%;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #186e69);
  opacity: 0;
  transition: 1s;
}

.cards:hover .overlay {
  opacity: 1;
}

.services-desc {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 88%;
  padding: 15px;
  opacity: 0;
  transition: 1s;
}

.cards:hover .services-desc {
  opacity: 1;
  bottom: 35%;
}

.services-desc h3 {
  font-size: 25px;
}

.services-desc hr {
  margin: 15px;
  width: 100%;
}

.services-desc p {
  font-size: 18px;
}

/* ------------SECTION TESTIMONIALS--------------- */

#testimonials {
  width: 100%;
  padding: 70px 0;
  min-height: 80vh;
}

.testimonials-box {
  margin: 0 12%;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.cards-rate {
  width: 400px;
  min-width: 100px;
  max-width: 100%;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 30px;
  cursor: pointer;
  transition: transform 0.5s;
}

.cards-rate:hover {
  transform: scale(1.1);
}

.testimonials-user {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 20px;
}

.testimonials-image img {
  width: 50px;
  border-radius: 5px;
}

.testimonials-profile h3 {
  font-weight: 500;
}

.testimonials-profile i {
  color: rgb(4, 177, 177);
  margin-left: 10px;
}

/*  -----------------SECTION MEET US---------------- */

#contact {
  width: 100%;
  padding: 70px 0;
  min-height: 20vh;
}

.contact-box {
  margin: 0 12%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column-days {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.column-days p {
  font-weight: 500;
}

.column-icon-right {
  margin-top: 65px;
  margin-right: 10px;
}

.column-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column-contact p {
  font-weight: 500;
  line-height: 40px;
}

.column-icon-left {
  margin-top: 65px;
  margin-left: 15px;
}

.column-icon-left i {
  margin: 10px;
}

.contact h3 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 15px;
}

.contact i {
  font-weight: 600;
  color: var(--color-azul);
}

/*  -----------------FOOTER--------------- */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.social-media {
  margin: 10px;
}

.social-media i:hover {
  transform: translateY(-10px);
}

.social-media i {
  font-size: 25px;
  text-align: center;
  width: 60px;
  height: 50px;
  border: 1px solid var(--color-azul);
  color: var(--color-azul);
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}
