@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-padrao);
}

:root {
  --Font-destaque: "Kaushan Script", cursive;
  --font-padrao: "Poppins", sans-serif;
  --color-azul: #009688;
  --color-branca: #fff;
  --color-preta: #000;
}

/* --------------------------HEADER------------------ */

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Font-destaque: "Kaushan Script", cursive;
  --font-padrao: "Poppins", sans-serif;
}

/*******--------------------section home--------------------*******/

#home {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #186e69),
    url(imagens/banner.jpg) center no-repeat;
  background-size: cover;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 8%;
}

.menu img {
  width: 150px;
}

.menu li {
  display: inline-block;
  list-style: none;
  margin: 30px;
}

.menu li a {
  font-family: var(--font-padrao);
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0px 10px;
  position: relative;
}

.menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background-color: #13c1b9;
  transition: width 0.5s ease;
}

.menu li a:hover::after {
  width: 100%;
}

#nav-links {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #13c1b9;
  padding-top: 10%;
}

#bar-open {
  cursor: pointer;
}

.line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--color-branca);
  border-radius: 2px;
  margin: 5px auto;
  transition: all 0.5s;
}

/***********--------------------section-features---------------------*****/

div.home-conteiner {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.titulo-home {
  font-family: var(--Font-destaque);
  font-size: 10rem;
  color: #fff;
}

div.home-conteiner p {
  font-family: var(--font-padrao);
  font-style: italic;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
}

.btn-home a {
  font-family: var(--font-padrao);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: 0.5px solid #fff;
  width: 150px;
  z-index: 1;
  margin: 0 30px;
  padding: 12px 0;
  position: relative;
  transition: all 0.5s;
}

.btn-home a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  transition: all 0.5s;
}

.btn-home a:hover {
  color: #000;
}

.btn-home a:hover span {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/***********--------------------section-features---------------------*****/

#features {
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--font-padrao);
  margin: 100px auto 40px;
}

.apresentaçao {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo-barber {
  display: inline-block;
  font-family: var(--font-padrao);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-align: center;
  color: #009688;
  margin: 100px auto 40px;
  position: relative;
  z-index: 1;
}

.logo-barber::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  z-index: -1;
}

.titulo-barber {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 80px;
  text-align: center;
}

.features-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15%;
  max-width: 1610px;
}

.subtitulo-features {
  font-family: var(--font-padrao);
  font-weight: 400;
  color: #009688;
}

.features-conteiner p {
  margin-bottom: 40px;
}

.image-features img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 10px;
}

/***********-------------------Section-Services----------*************/

#services {
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--font-padrao);
  background-color: #efefef;
}

.logo-barber {
  display: inline-block;
  font-family: var(--font-padrao);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-align: center;
  color: #009688;
  margin: 100px auto 40px;
  position: relative;
  z-index: 1;
}

.logo-barber::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  z-index: -1;
}

.cards-services {
  margin: 0 8%;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-card {
  text-align: center;
  color: #fff;
  width: 700px;
  margin: 0 15px 20px;
  cursor: pointer;
  position: relative;
  transition: 1s;
}

.single-card img {
  width: 100%;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  height: 99.1%;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #186e69);
  opacity: 0;
  transition: 1s;
}

.single-card:hover .overlay {
  opacity: 1;
}

.services-desc {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 88%;
  padding: 15px;
  opacity: 0;
  transition: 1s;
}

.single-card:hover .services-desc {
  opacity: 1;
  bottom: 35%;
}

.services-desc h3 {
  font-size: 25px;
}

.services-desc hr {
  margin: 15px;
  width: 100%;
}

.services-desc p {
  font-size: 18px;
}

/*********-------------------------Section-Testional---------------**********/

#testional {
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--font-padrao);
  margin: 100px auto 40px;
}
